.game div {
    border: 1px solid black;
    width: 13%;
    height: 40px;
    margin: 2px;
    text-align: center;
    display: inline-block;
  }

  .entryPoint {
    border: 1px solid black;
    width: 13%;
    height: 40px;
    margin: 2px;
    display: inline-block;
    background-color: chartreuse;
  }

  .piecesBlue {
    display: absolute;
    z-index: 1; 
    background-color: blue;
    /* height: not working */
    /* width: not working */
    border-radius: 50%;
    margin: auto;
 }

 .piecesRed {
  display: absolute;
  z-index: 1; 
  background-color: red;
  /* height: not working */
  /* width: not working */
  border-radius: 50%;
  margin: auto;
}